# Lists

In [1]:
List_2=['Ama','Kojo','Sena','Adobea','Evans','Yaw']
List_2

['Ama', 'Kojo', 'Sena', 'Adobea', 'Evans', 'Yaw']

In [2]:
List_2[-2]

'Evans'

In [3]:
List_2[2:5]

['Sena', 'Adobea', 'Evans']

In [4]:
List_2[2]='Ekow'
List_2

['Ama', 'Kojo', 'Ekow', 'Adobea', 'Evans', 'Yaw']

In [5]:
List_2.append('Dufie')
List_2

['Ama', 'Kojo', 'Ekow', 'Adobea', 'Evans', 'Yaw', 'Dufie']

In [6]:
List_2.insert(1,'Renee')
List_2

['Ama', 'Renee', 'Kojo', 'Ekow', 'Adobea', 'Evans', 'Yaw', 'Dufie']

In [7]:
List_2.sort()
List_2

['Adobea', 'Ama', 'Dufie', 'Ekow', 'Evans', 'Kojo', 'Renee', 'Yaw']

# Dictionary

In [8]:
Dict={'Name':'Zara','Age': 7,'Class':'First'}
print(Dict['Name'])
print(Dict['Age'])
print(Dict['Class'])

Zara
7
First

In [9]:
#Updating a Dictionary

In [10]:
Dict['Age']=8
print(Dict)

{'Name': 'Zara', 'Age': 8, 'Class': 'First'}

In [11]:
Dict['School']='DPS School'
print(Dict)

{'Name': 'Zara', 'Age': 8, 'Class': 'First', 'School': 'DPS School'}

In [12]:
del(Dict['Name'])
print(Dict)

{'Age': 8, 'Class': 'First', 'School': 'DPS School'}

In [13]:
len(Dict)

3

In [14]:
type('variable')

str

In [15]:
Dict.values

In [16]:
a,b,c=1,2,'John'
print(c)

John

In [17]:
age=36
txt="My name is John, I am {}"
print(txt.format(age))

My name is John, I am 36

In [18]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [19]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [20]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

# Loops

In [22]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [23]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [24]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [25]:
count=0
while count < 6:
    print(count,'is less than 5')
    count= count + 1
else:
    print(count,'is not less than 5')

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is less than 5
6 is not less than 5

# If Statements

In [26]:
var1=100
if var1:
    print('Number')
    print(var1)
    print('Goodbye')

Number
100
Goodbye

In [27]:
amount=int(input('Enter Amount'))
if amount<1000:
    discount=amount*0.10
    print('Discount', discount)
else:
    discount=amount*0.50
    print('Discount', discount)
    print('Net Payable', amount-discount)

Enter Amount1000
Discount 500.0
Net Payable 500.0

In [30]:
for letter in 'Python':
    if letter=='h':
        break
print('Current letter', letter)

Current letter h

In [33]:
a = 10
b = 20
  
if(a<b):
  pass
else:
  print("b<a")