# Conditional Statements

In [1]:
Age=40
if Age:
    print('You look good')
    print(Age)
print('Goodbye')

You look good
40
Goodbye

In [2]:
str(100)
type(str(100))

str

In [3]:
int('100')
type(int('100'))

int

# If & Else

In [4]:
amount=int(input('Total Amount Spent:'))
if amount==1000:
     discount=amount*0.1
     print('Your discount is:', discount)
     amount_payable=amount-discount
     print('You pay only:',amount_payable)

else:
    print('Better Luck next time')

Total Amount Spent:1000
Your discount is: 100.0
You pay only: 900.0

# IF-Else-Else-Statement

In [5]:
amount=float(input('Total Amount Spent:'))
discount=0.0
if amount==1000:
    discount=amount*0.1
    print('Discount is:',discount)
elif 1000<amount<=1500:
    discount=amount*0.15
    print('Discount is:',discount)
elif amount>1500:
     discount=amount*0.2
     print('Discount:',discount)
else:
    print('Better luck next time')
    net_payable=amount-discount
    print('You will pay:',net_payable)

Total Amount Spent:1000
Discount is: 100.0

In [6]:
Score=float(input('Total Scores:'))
if  Score<=50:
    print('Score is Fail')
elif 51<=Score<=60:
     print('Score is Pass')
elif 61<=Score<=65:
     print('Score is Average')
elif 66<=Score<=70:
     print('Score is Good')
elif 71<=Score<=85:
     print('Score is Very Good')
else:
    print('Excellent')

Total Scores:50
Score is Fail

# E-Levy

# LOOPS

In [7]:
#While Loops

In [8]:
count=0
while(count<9):
    print('The count is:',count)
    count=count+1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [9]:
count=0
while count<5:
      print(count,'less than 5')
      count=count+1
else:
    print(count,'is not less than 5')

0 less than 5
1 less than 5
2 less than 5
3 less than 5
4 less than 5
5 is not less than 5

In [10]:
# For Loops

In [11]:
for letter in 'Python':
    print('Current Letter:',letter)

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: o
Current Letter: n

In [12]:
fruits=['banana','apple','mango']
for fruit in fruits:
    print('Current fruit:',fruit)

Current fruit: banana
Current fruit: apple
Current fruit: mango

In [13]:
#Break Statement

In [14]:
numbers=[11,33,55,39,55,75,37,21,23,41,13]
for figure in numbers:
    if figure%2==0:
        print(figure,'the list contains an even number')
        break
    else:
         print(figure,'is not an even number')

11 is not an even number
33 is not an even number
55 is not an even number
39 is not an even number
55 is not an even number
75 is not an even number
37 is not an even number
21 is not an even number
23 is not an even number
41 is not an even number
13 is not an even number

In [15]:
for letter in 'Python':
    if letter=='h':
        break
    print('Current Letter:',letter)

Current Letter: P
Current Letter: y
Current Letter: t

In [16]:
#Continue Statement

In [17]:
for letter in 'Python':
    if letter=='h':
        continue
    print('Current Letter:',letter)

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n

In [18]:
#Pass Statement

In [19]:
for letter in 'Python':
     if letter=='h':
        #pass
        #print('This is a pass block')
        print('Current Letter:', letter)
        print('Goodbye')

Current Letter: h
Goodbye

# Python Function

#def function name(parameter)

In [20]:
#printme

In [21]:
def printme(str):
    str='This prints a passed string'
    print(str)
    return
printme(str)

This prints a passed string

In [22]:
def sum(arg1,arg2):
    total=arg1+arg2
    print('total is:',total)
    return

In [23]:
sum(10,20)

total is: 30

In [24]:
def multiply(arg1,arg2,arg3):
    product=arg1*arg2*arg3
    print('product is:',product)
    return

In [25]:
multiply(10,20,30)

product is: 6000

In [ ]:
def multiply(arg1,arg2,arg3):
    product=arg1*arg2*arg3
    word='Thank you'
    print('product is:',product)
    return word

In [ ]:
multiply(10,20,30)

#Global Variable

In [ ]:
word='welcome'
def multiply(arg1,arg2,arg3):
    product=arg1*arg2*arg3
    word='Thank you'
    print('product is:',product)
    return word

In [ ]:
multiply(10,20,30)
print(word)